@use "../../scss/__variables.scss" as *;

.navbarCustom {
    padding: 1rem 0;
    transition: background-color 0.3s ease;
  
    .navbar-brand {
      font-size: 1.8rem;
      font-weight: 700;
      transition: color 0.3s ease;
    }
  }
  
  .brand {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    &:hover {
      color: $body-color !important;
    }
  }
  
  .menuToggle {
    border: none;
    background: transparent;
    padding: 0;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
  
  .menuIcon {
    width: 28px;
    height: 28px;
    transition: transform 0.3s ease;
    &:hover {
      transform: rotate(90deg);
    }
  }
  
  .navCollapse {
    transition: all 0.5s ease-in-out;
  }
  
  .navList {
    .nav-item {
      margin-left: 1rem;
    }
  }
  
  .navLink {
    color: $body-color !important;
    padding: 0.5rem 0;
    transition: color 0.3s ease, font-size 0.3s ease;
  
    &:hover {
      color: $primary !important;
    }
  
    &.activeLink {
      color: $primary !important;
    }
  }
  
  