$font-family-base: 'Poppins', sans-serif;

$body-bg: #2c2f38;     
$body-color: #e0e0e0; 

$primary: #007acc;     
$secondary: #8a8f99;    
$success: #28a745;    
$info: #17a2b8;    
$warning: #f0ad4e;     
$danger: #dc3545;    
$light: #ffffff;  
$dark: #212529;

